/*font-family: 'Roboto', sans-serif;*/
html {
    background-color: black;
   /* margin-left: 25px;
    margin-right: 25px;*/
}
body {
    margin: 0 auto;
    background-color: none;
}
.BHClogo {
    padding-left: 20px;
}
/* Add a black background color to the top navigation */
.primarynav {
    background-color: #4D4D4D;
    overflow: hidden;
   /* margin-left: 25px;
    margin-right: 25px;*/
  }
/* Style the links inside the navigation bar */
.primarynav a {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-top: 50px;
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
 }
  
/* Change the color of links on hover */
.primarynav a:hover {
    background-color: #ddd;
    color: black;
}
.primarynav .news:hover {
    background-color: #ddd;
    color: black; 
}
  
/* Add a color to the active/current link */
.primarynav a.active {
    background-color: #009EDB;
    color: black;
}
.HomeHero {
    width: 100vw;
}
.alertMessage {
    background-color: #4D4D4D;
    height: 40px;
    width: 100%;
    color: #00A7E1;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}